  form {
    width: auto;
  }

  #message {
    padding: 0px 0px 80px 0px;
  }

  .Login, .Contact {
    padding: 20px;
    width: auto;
  }

  .Contact h2 {
    float: left;
  }

  .Contact .logout-btn {
    float: right;
    margin-top: 14px;
  }
@media (min-width:440px)  {
  form {
    width: 400px;
  }

  .Login, .Contact {
    width: 400px;
  }

}

